/*
Colors used:
Primary Color (Blue): #2E75A9;
Secondary Color (Green): #108051;
*/
* {
    box-sizing: border-box;
  }
body{
    background-color: lightgray;
    font-family: 'Charis SIL', sans-serif;
}
body {
    background-color: #ffffff;
    font-family: 'Charis SIL', sans-serif;
    font-size: 16px; 
    font-weight: 300; 
    line-height: 1.6; 
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #0D1A90;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #B20B0B;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #523e12;
  }
  a:active { /* selected link */
    color: #994c30;
  }
  a:hover,
a:focus {
  color: #95320a;
  text-decoration: underline;
}
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #c6a10b;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #c6a10b;
    text-transform: uppercase;
    border: 2px solid #c6a10b;
  }
  .button.contact:hover {
    background-color: #c6a10b;
    color: #ffffff;
/* Layout styling */
  }
  header {
    background-color: #d7d7f8;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #575698;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  #hero {
    background-color: #d7d7f8;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  #hero span {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: 1.2;
    margin-top: -15px;
  }
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #hero h1 {
    text-align: center; /* Centers text */
  }
  .center {
    text-align: center;
  }
  .logo {
    max-width: 150px;
    text-align: center;
  }
  nav > ul {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li > a {
    padding: 0 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  #hero {
    background-color: #d7d7f8;
  }

  main {
    padding-top: 99px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    width: 48px;
    height: auto;
  }
  ul > li {
    list-style-type: none;
  }
  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 24px 0 24px;
    font-size: 18;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 16px;
  }
  .col-md-6 {
    width: 50%;
  }
  #hero span {
    display: block;
  }

  .col-md-4 {
    width: 40%;
  }

  .col-md-6 {
    width: 60%;
  }

  .col-md-5 {
    width: 50%;
  }


  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}

  #skills-tools h3 { margin-top: 0;}

  #my-story h2 { margin-top: 0;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
  